{% extends 'base.html' %}

{% block content %}

<div class="column">
</div>

<div class="column is-half">
  <form method="post">
    {% csrf_token %}

    {{ basket_form_set.management_form }}

    {% for form in basket_form_set %}
    <div class="block">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">

              <p class="title is-4">
                {{ form.title.value }}, {{ form.price.value }} $
              </p>

              {{ form.quantity.label }}:
              {% for error in form.quantity.errors %}
              <p class="help is-danger ">{{ error }}</p>
              {% endfor %}
              {{ form.quantity }}

              Delete: {{ form.DELETE }}

              <!--                      Hidden-->
              {{ form.id }}
              <!--                            -->

            </div>
          </div>
        </div>
      </div>
    </div>

    {% if forloop.last %}
    <div class="box">
        <b>Total price: {{ total_price }} $</b>
    </div>
    <button type="submit" class='button is-warning'>Confirm</button>
    {% endif %}

    {% empty %}
    <div class="field is-grouped is-grouped-centered">
      <div class="block">
        <h2 class="title is-3">There are no buns in the basket 😢</h2>
      </div>
    </div>
    {% endfor %}
  </form>
</div>

<div class="column">
</div>

{% endblock content %}
